body {
background: rgb(63,94,251);
background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}

.carimg {
	border-radius: 5px;
	width: 800px;
	height: 400px;
}

.text-justify{
	border-radius: 5px;
}

.bannerimage {
  width: 100%;
  box-shadow: 0px 1px 10px grey;
  background-image: url(/assets/imgs/Banner2.png);
  background-size:cover;
  height: 200px;
  background-color: purple;
  background-position: center;
}